{%extends 'base.html'%}
{% load static %}
{% block title %}About{% endblock title%}
{% block banner-slider %}
<div class="container mt-3">
    
    <div class="row container">
        <p class="fs-4 text-center">we will put contacts of the company here</p>
    </div>
</div> 
{%endblock banner-slider%}
{% block main-content %}
<div class="container mt-3">
    <br>
    <h2 class="text-center">Contact Us</h2>
    </br>
    <div class="row container">
        <p class="fs-4 text-center">phone no</p>
        <p class="fs-4 text-center">email</p>
        <p class="fs-4 text-center">whatsapp</p>
    </div>
</div> 
{%endblock main-content%}